* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
}

body {
	background: #272727;
}

.name {
	color: #FFF;
	font-family: 'Roboto Mono', monospace;
	font-weight: bolder;
	margin: 20px 0 0 0;

	animation-name: title;
	animation-duration: 1s;
	animation-delay: .5s;
	animation-fill-mode: forwards;
	opacity: 0;
}

#me {
	width: 150px;
	height: 150px;
	border-radius: 100%;
	margin: 40px 0;

	animation-name: personal-img;
	animation-duration: 1s;
	animation-delay: .5s;
	animation-fill-mode: forwards;
	opacity: 0;
}

.main-item {
	color: #FFF;
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
	margin: 20px 20px 50px 20px;

	animation-name: text-content;
	animation-duration: 1s;
	animation-delay: .5s;
	animation-fill-mode: forwards;
	opacity: 0;
}

.work-container{
	display: flex;
	flex-direction: column;
	background-color: #FFC700;
	margin: 0 15px;
	padding: 15px;

	animation-name: work-container;
	animation-duration: 1s;
	animation-delay: .5s;
	animation-fill-mode: forwards;
	opacity: 0;
}

.work-item{
	text-decoration: none;
	color: #000;
}

.contact-container {
	display: flex;
	flex-direction: column;
	background-color: #272727;
	border: solid 2px #FFF;
	margin: 0 15px;
	padding: 15px;

	animation-name: contact-container;
	animation-duration: 1s;
	animation-delay: .5s;
	animation-fill-mode: forwards;
	opacity: 0;
}

.contact-item {
	text-decoration: none;
	color: #FFF;
}

.contact-logos {
	margin: 10px;
}

.logos {
	margin: 0 10px;
	width: 40px;
	height: 40px;

	animation-name: logos;
	animation-duration: 1s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
	opacity: 0;
}

/* Animations */

.work-container:hover {
	opacity: .8;
	margin: 0 -15px;
	transition: 1s;
}

.contact-container:hover {
	margin: 0 -15px;
	transition: 1s;
}

.logos:hover {
	opacity: .8;
}

/* Dark/Light Mode Switch */

.container-switch {
	display: flex;
	flex-direction: row;
	background-color: #272727;
	width: 50px;
	height: 21px;
	margin: -30px 0 0 10px;
	border: solid 2px #FFC700;
	border-radius: 12px;
	cursor: pointer;

	animation-name: switch-container;
	animation-duration: 1s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
	opacity: 0;
}

#switch {
	background-color: #FFC700;
	margin: 1px 0 10px 1px;
	width: 15px;
	height: 15px;
	border-radius: 100%;
}

/* Switch Functions */




/* Startup Animations */

@keyframes title {
	0% {
		transform: translateY(-100px);

	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes text-content {
	0% {
		opacity: .1;
	}

	20% {
		opacity: .2;
	}

	40% {
		opacity: .4;
	}

	60% {
		opacity: .6;
	}

	80% {
		opacity: .8;
	}

	100% {
		opacity: 1;
	}
}

@keyframes work-container {
	0% {
		transform: translateY(500px);
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes contact-container {
	0% {
		transform: translateY(500px);
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes logos {
	0% {
		transform: translateY(500px);
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes personal-img {
	0% {
		opacity: .1;
	}

	20% {
		opacity: .2;
	}

	40% {
		opacity: .4;
	}

	60% {
		opacity: .6;
	}

	80% {
		opacity: .8;
	}

	100% {
		opacity: 1;
	}
}

@keyframes switch-container {
	0% {
		transform: translateX(-200px);
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}


